* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared style */

body {
  font-family: "Caveat", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* header section style */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 37px;
  margin-bottom: 37px;
}
.image-title {
  display: flex;
  gap: 20px;
  align-items: center;
}
nav {
  display: flex;
  align-items: center;
}
nav ul > li {
  display: inline;
  margin-right: 32px;
}
nav ul > li a,
.follow-us a {
  text-decoration: none;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}
.fa-brands {
  margin-left: 16px;
}
.follow-us {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 18px 24px;
}
.image-title h2 {
  font-size: 45px;
  font-weight: 700;
}

/* main section banner part */

.goat {
  display: flex;
  gap: 68px;
}
.goat-title {
  background-image: url("../images/Group\ 14.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 901px;
  padding-top: 148px;
}
.goat-title h2 {
  color: #0b0223;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.goat-title h1 {
  text-align: center;
  font-size: 95px;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.goat-description p {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 17px;
  margin-top: 24px;
  text-align: center;
}
.sign-in {
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  padding: 21px 40px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-top: 41px;
  margin-right: 24px;
}
.rogue {
  border-radius: 48px;
  background: #4ec5f7;
  padding: 21px 40px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  margin-top: 41px;
}
.btn {
  text-align: center;
}

/* responsive for mobile devices */

@media screen and (min-width: 425px) and (max-width: 576px) {
  header,
  nav,
  .goat {
    flex-direction: column;
    justify-content: center;
  }
  .follow-us {
    margin-top: 20px;
  }
  nav ul > li {
    display: block;
    margin-top: 15px;
    text-align: center;
  }
  .goat {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .goat-title {
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
  }
  .banner-images img {
    width: 100%;
  }
}

/* responsive for tablet devices */

@media screen and (min-width: 577px) and (max-width: 992px) {
  header,
  nav,
  .goat {
    flex-direction: column;
    justify-content: center;
  }
  .follow-us {
    margin-top: 20px;
  }
  nav ul > li {
    display: block;
    margin-top: 15px;
    text-align: center;
  }
  .goat {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .goat-title {
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
  }
  .banner-images img {
    width: 100%;
  }
}
