* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared style */

body {
  font-family: "Caveat", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* header section style */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 37px;
  margin-bottom: 37px;
}
.image-title {
  display: flex;
  gap: 20px;
  align-items: center;
}
nav {
  display: flex;
  align-items: center;
}
nav ul > li {
  display: inline;
  margin-right: 32px;
}
nav ul > li a,
.follow-us a {
  text-decoration: none;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}
.fa-brands {
  margin-left: 16px;
}
.follow-us {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 18px 24px;
}
.image-title h2 {
  font-size: 45px;
  font-weight: 700;
}

/* main section banner part */

.goat {
  display: flex;
  gap: 68px;
}
.goat-title {
  background-image: url("../images/Group\ 14.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 901px;
  padding-top: 148px;
}
.goat-title h2 {
  color: #0b0223;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.goat-title h1 {
  text-align: center;
  font-size: 95px;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.goat-description p {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 17px;
  margin-top: 24px;
  text-align: center;
}
.sign-in {
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  padding: 21px 40px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-top: 41px;
  margin-right: 24px;
}
.rogue {
  border-radius: 48px;
  background: #4ec5f7;
  padding: 21px 40px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  margin-top: 41px;
}
.btn {
  text-align: center;
}

/* gamer container style */

.gamer-container {
  display: flex;
  gap: 50px;
}

.gamer-images img {
  width: 868px;
  margin-top: 55px;
  margin-left: 240px;
  margin-bottom: 56px;
}
.gamer-container-content {
  margin-top: 95px;
  margin-right: 240px;
}
.content-title {
  text-align: right;
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}
.content-description {
  color: #534c64;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 32px;
}

.container-btn {
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 21px 40px;
  border: none;
  margin-left: 297px;
}
.purpose {
  color: #534c64;
  text-align: right;
  font-size: 24px;
  font-weight: 500;
  line-height: 45px;
}
.unleash {
  color: #534c64;
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
  text-align: right;
}

/* funny video style */

.video-container-title {
  color: #0b0223;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-top: 120px;
}
.funny-style {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
}
.video-container-description {
  color: #534c64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.funny-video-container {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.video-description {
  width: 342px;
  margin-top: 48px;
  position: relative;
  margin-bottom: 20px;
}
.video-description p {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.image-overlay {
  position: relative;
  overflow: hidden;
}
.image-overlay img {
  display: block;
  width: 100%;
  height: auto;

  transition: transform 0.3s;
}
.image-overlay:hover img {
  transform: scale(1.1);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s;
  border: 3px solid #f948b2;
}
.image-overlay:hover .overlay {
  opacity: 1;
}
.youtube-logo {
  width: 10px;
  height: 18px;
  margin-bottom: 10px;
}

.watch-now {
  font-size: 20px;
  font-weight: bold;
}
.overlay img {
  width: 38px;
  height: 38px;
}
/* responsive for mobile devices */

@media screen and (min-width: 425px) and (max-width: 576px) {
  header,
  nav,
  .goat,
  .gamer-container,
  .funny-video-container {
    flex-direction: column;
    justify-content: center;
  }
  .follow-us {
    margin-top: 20px;
  }
  nav ul > li {
    display: block;
    margin-top: 15px;
    text-align: center;
  }
  .goat {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .goat-title {
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
  }
  .banner-images img,
  .gamer-images img,
  .video-container-title,
  .video-description {
    width: 100%;
  }
  .gamer-images img {
    margin: 0 auto;
    padding-top: 30px;
  }
  .gamer-container-content,
  .funny-video-container {
    margin: 0 auto;

    width: 100%;
  }
  .container-btn {
    margin: 0 auto;
    margin-left: 120px;
  }
  .content-title,
  .content-description,
  .container-btn,
  .purpose,
  .unleash {
    text-align: center;
  }
}

/* features one section style */

.features-one-container {
  display: flex;
  gap: 120px;
  margin-top: 120px;
  /* align-items: center; */
  justify-content: center;
}
.features-one-content {
  width: 353px;
}
.features-one-title {
  text-align: right;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}
.play {
}
.features-one-description {
  color: #534c64;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/* responsive for tablet devices */

@media screen and (min-width: 577px) and (max-width: 992px) {
  header,
  nav,
  .goat,
  .gamer-container,
  .funny-video-container {
    flex-direction: column;
    justify-content: center;
  }
  .follow-us {
    margin-top: 20px;
  }
  nav ul > li {
    display: block;
    margin-top: 15px;
    text-align: center;
  }
  .goat {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .goat-title {
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
  }
  .banner-images img,
  .gamer-images img,
  .video-description {
    width: 100%;
  }
  .gamer-images img {
    margin: 0 auto;
    padding-top: 30px;
  }
  .gamer-container-content,
  .funny-video-container {
    margin: 0 auto;

    width: 100%;
  }
  .container-btn {
    margin: 0 auto;
    margin-left: 280px;
  }
  .content-title,
  .content-description,
  .container-btn,
  .purpose,
  .unleash {
    text-align: center;
  }
}
