* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* shared style */

body {
  font-family: "Caveat", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* header section style */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 37px;
  margin-bottom: 37px;
}
.image-title {
  display: flex;
  gap: 20px;
  align-items: center;
}
nav {
  display: flex;
  align-items: center;
}
nav ul > li {
  display: inline;
  margin-right: 32px;
}
nav ul > li a,
.follow-us a {
  text-decoration: none;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}
.fa-youtube,
.fa-tiktok {
  margin-left: 16px;
}
.follow-us {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 18px 24px;
}
.image-title h2 {
  font-size: 45px;
  font-weight: 700;
}

/* main section banner part */

.goat {
  display: flex;
  gap: 68px;
}
.goat-title {
  background-image: url("../images/Group\ 14.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 901px;
  padding-top: 148px;
}
.goat-title h2 {
  color: #0b0223;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.goat-title h1 {
  text-align: center;
  font-size: 95px;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.goat-description p {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 17px;
  margin-top: 24px;
  text-align: left;
  margin-left: 250px;
}

.sign-in {
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  padding: 21px 40px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-top: 41px;
  margin-right: 24px;
}
.rogue {
  border-radius: 48px;
  background: #4ec5f7;
  padding: 21px 40px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  margin-top: 41px;
}
.btn {
  text-align: center;
}

/* gamer container style */

.gamer-container {
  display: flex;
  gap: 50px;
}

.gamer-images img {
  width: 868px;
  margin-top: 55px;
  margin-left: 240px;
  margin-bottom: 56px;
}
.gamer-container-content {
  margin-top: 95px;
  margin-right: 240px;
}
.content-title {
  text-align: right;
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}
.content-description {
  color: #534c64;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 32px;
}

.container-btn {
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 21px 40px;
  border: none;
  margin-left: 297px;
}
.purpose {
  color: #534c64;
  text-align: right;
  font-size: 24px;
  font-weight: 500;
  line-height: 45px;
}
.unleash {
  color: #534c64;
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
  text-align: right;
}

/* funny video style */

.video-container-title {
  color: #0b0223;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-top: 120px;
}
.funny-style {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
}
.video-container-description {
  color: #534c64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.funny-video-container {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.video-description {
  width: 342px;
  margin-top: 48px;
  position: relative;
  margin-bottom: 20px;
}
.video-description p {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.image-overlay {
  position: relative;
  overflow: hidden;
}
.image-overlay img {
  display: block;
  width: 100%;
  height: auto;

  transition: transform 0.3s;
}
.image-overlay:hover img {
  transform: scale(1.1);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s;
  border: 3px solid #f948b2;
}
.image-overlay:hover .overlay {
  opacity: 1;
}
.youtube-logo {
  width: 10px;
  height: 18px;
  margin-bottom: 10px;
}

.watch-now {
  font-size: 20px;
  font-weight: bold;
}
.overlay img {
  width: 38px;
  height: 38px;
}

/* features one section style */

.features-one-container {
  display: flex;
  gap: 120px;
  margin-top: 120px;
  /* align-items: center; */
  justify-content: center;
  align-items: center;
}
.features-one-content {
  width: 353px;
}
.features-one-title {
  text-align: right;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}
.play {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.features-one-description {
  color: #534c64;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.features-one-image img {
  height: 90%;
  margin-left: 150px;
}
.features-one-image-two img {
  position: relative;
  bottom: 200px;
  right: 150px;
}

/* anytime anywhere */

.features-two-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 150px;
  margin-top: 120px;
  /* align-items: center; */
  justify-content: center;
  align-items: center;
}
.features-two-content {
  width: 353px;
}
.features-two-title {
  text-align: left;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  width: 426px;
}
.games {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.features-two-description {
  color: #534c64;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.features-two-image img {
  height: 90%;
  margin-left: 150px;
}
.features-one-image-three img {
  position: relative;
  bottom: 200px;
  left: 490px;
}

/* careers container section style */

.careers-container {
  display: flex;
  gap: 210px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 120px;
}
.careers-container-content {
  width: 680px;
  padding-top: 120px;
  padding-left: 240px;
}
.careers-container-title {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 24px;
}
.careers-container-description {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 680px;
}

.column {
  display: flex;

  margin-top: 32px;
}
.column-one,
.column-two {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
}
.careers-btn {
  border-radius: 48px;
  background: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 21px 40px;
  border: none;
  margin-top: 40px;
  color: #ff42a5;
}

/* image button section */

.image-button-container {
  text-align: center;
  margin-bottom: 120px;
}
.button-container {
  display: grid;
  grid-template-columns: repeat(5, 350px);
  gap: 27px;
  justify-content: center;
}
.button-container-two {
  display: grid;
  grid-template-columns: repeat(4, 360px);
  gap: 27px;
  justify-content: center;
}

.image-button {
  display: inline-flex;
  flex-wrap: wrap;
  margin-right: 50px;
  margin-bottom: 40px;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 10px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.image-button img {
  width: 60px;
  height: 60px;
  margin-right: 8px;
}
.button-text-style {
  color: #0b0223;
  font-size: 20px;
  font-weight: 600;
}

.image-button:hover {
  background-color: #ddd;
  transform: scale(1.05);
  border: 2px solid #ff42a5;
}
.button-text-style:hover {
  color: #f948b2;
}

.image-button:active {
  background-color: #ccc;
  transform: scale(0.95);
}

/* footer section title */

footer {
  background: #0b0223;
  height: 636px;
}
.image-title-footer {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 75px;
  padding-top: 126px;
}
.footer-nav {
  display: flex;
  gap: 60px;
  justify-content: center;
  margin-bottom: 66px;
}
.nav-one a,
.nav-two a {
  margin-right: 60px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}
.footer-icon {
  text-align: center;
}
.fa-2xl {
  margin-right: 60px;
  width: 40px;
  height: 40px;
}
.footer-policy {
  display: flex;
  gap: 60px;
  justify-content: center;
  margin-top: 75px;
  margin-bottom: 24px;
}
.policy-one a,
.policy-two a {
  margin-right: 60px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.footer-description {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

/* responsive for mobile devices */

@media screen and (max-width: 576px) {
  body {
    width: 100%;
    margin: 0 auto;
  }
  header,
  nav,
  .goat,
  .gamer-container,
  .funny-video-container,
  .features-one-container,
  .features-two-container,
  .careers-container {
    flex-direction: column;
    justify-content: center;
  }
  .follow-us {
    margin-top: 20px;
  }
  nav ul > li {
    display: block;
    margin-top: 15px;
    text-align: center;
  }
  .goat {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .goat-title {
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
  }
  .banner-images img,
  .gamer-images img,
  .video-container-title,
  .video-description,
  footer {
    width: 100%;
  }
  .gamer-images img {
    margin: 0 auto;
    padding-top: 30px;
  }
  .gamer-container-content,
  .funny-video-container {
    margin: 0 auto;

    width: 100%;
  }
  .container-btn {
    margin: 0 auto;
    margin-left: 120px;
  }
  .content-title,
  .content-description,
  .container-btn,
  .purpose,
  .unleash,
  .features-two-description,
  .features-two-title,
  .features-one-title,
  .features-one-description {
    text-align: center;
  }
  /* .features-one-image-three img {
    width: 100%;
    position: relative;
    bottom: 200px;
    left: 490px;
  } */
  .features-one-image img,
  .features-two-image img {
    width: 90%;
    margin-left: 0;
  }
  .features-one-image-two img,
  .features-one-image-three img {
    width: 300px;
    position: static;
    /* margin-bottom: 30px; */
  }
  .features-two-title,
  .features-one-title,
  .features-two-description {
    width: 100%;
  }
  .features-two-title,
  .features-two-description {
    width: 100%;
    padding: 10px;
  }
  .features-two-description {
    font-size: 16px;
  }

  .careers-container {
    gap: 50px;
  }
  .careers-container-content {
    /* margin-left: 15px; */
    padding: 10px;
    width: 100%;
  }
  .careers-container-image img {
    width: 350px;
    margin-left: 50px;
  }
  .careers-container,
  .careers-container-description {
    width: 100%;
  }
  .button-container {
    width: 100%;
    flex-wrap: wrap;
  }
  .footer-nav,
  .footer-policy {
    flex-direction: column;
    gap: 50px;
    margin: 20px;
    padding: 10px;
    width: 100%;
    /* text-align: center; */
  }
  footer,
  .image-button-container,
  .careers-container,
  .features-two-container,
  .features-one-container,
  .video-container-section,
  .gamer-container,
  .banner-section,
  headers {
    margin: 0 auto;
    width: 100%;
  }
  .features-one-image img,
  .features-two-image img {
    width: 80%;
    margin: 0 auto;
  }
  .image-title-footer {
    margin: 15px;
    padding: 20px;
  }
  .goat-description p {
    margin-left: 30px;
  }

  .button-container {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
    gap: 17px;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
  }
  .button-container-two {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 27px;
    justify-content: center;
    width: 100%;
  }
}

/* responsive for tablet devices */

@media screen and (min-width: 577px) and (max-width: 992px) {
  header,
  nav,
  .goat,
  .gamer-container,
  .funny-video-container,
  .features-two-container,
  .features-one-container,
  .careers-container {
    flex-direction: column;
    justify-content: center;
  }
  .follow-us {
    margin-top: 20px;
  }
  nav ul > li {
    display: block;
    margin-top: 15px;
    text-align: center;
  }
  .goat {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .goat-title {
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
  }
  .banner-images img,
  .gamer-images img,
  .video-description,
  footer {
    width: 100%;
  }
  .gamer-images img {
    margin: 0 auto;
    padding-top: 30px;
  }
  .gamer-container-content,
  .funny-video-container {
    margin: 0 auto;

    width: 100%;
  }
  .container-btn {
    margin: 0 auto;
    margin-left: 280px;
  }
  .content-title,
  .content-description,
  .container-btn,
  .purpose,
  .unleash,
  .features-two-description,
  .features-two-title,
  .features-one-title,
  .features-one-description {
    text-align: center;
  }
  .features-two-title,
  .features-one-title,
  .careers-container-image {
    width: 100%;
  }
  .features-one-image img,
  .features-two-image img {
    width: 90%;
    margin-left: 0;
  }
  .features-one-image-two img,
  .features-one-image-three img {
    width: 300px;
    position: static;
    /* margin-bottom: 30px; */
  }
  .careers-container-content {
    padding: 10px;
    width: 100%;
  }
  .careers-container,
  .careers-container-description,
  .features-two-description {
    width: 100%;
  }
  .careers-container-image img {
    width: 350px;
    margin-left: 200px;
  }
  .button-container {
    width: 100%;
    padding-left: 30px;
  }
  .footer-nav,
  .footer-policy {
    flex-direction: column;
    gap: 50px;
    margin: 50px;
    padding: 10px;
    width: 100%;
    text-align: center;
  }
  .footer-icon {
    text-align: center;
  }
  .image-title-footer {
    padding: 20px;
  }
  .goat-description p {
    margin-left: 50px;
    text-align: center;
  }
  .button-container {
    display: grid;
    grid-template-columns: repeat(3, 250px);

    gap: 17px;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
  }
  .button-container-two {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 27px;
    justify-content: center;
    width: 100%;
  }
}
